<%- include('partials/header'); -%>

<h1 class="heading" style="text-align:center;">EVENTS</h1>

<div class="grid2">
    <!-- <div class="flex-row">
        <div class="img-sec">
            <img src="/media/cb1811.png" alt="">
            <button class="info">More Info</button>
        </div>
        <div class="event-info">
            <h2>Fill Code</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div> -->
    <!-- <div class="flex-row">
        <div><img src="/media/cb1811.png" alt=""></div>
        <div class="event-info">
            <h2>Fill Code</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
    <div class="flex-row">
        <div><img src="/media/cb1811.png" alt=""></div>
        <div class="event-info">
            <h2>Fill Code</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
    <div class="flex-row">
        <div><img src="/media/cb1811.png" alt=""></div>
        <div class="event-info">
            <h2>Fill Code</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div> -->
    <% events.forEach(function(event){ %>
    <div class="flex-row">
        <div class="img-sec">
            <img src="<%= event.img %> " alt="">
            <a href="/events/<%=event.code%>"><button class="info">More Info</button></a>
        </div>
        <div class="event-info">
            <h2><%= event.title %> </h2>
            <% if(event.about.length > 100) { %> 
            <p><%= event.about.substring(0,100) + "... " %> </p>
            <% } else{ %>
                <p><%= event.about %></p>
                <% } %>   
        </div>
    </div>
    <% }) %>
</div>

<%- include('partials/footer'); -%>